<form action="/department/add" method="post" class="pure-form pure-form-stacked">
    <fieldset>
        <legend>{{localize 'general'}}</legend>
        <div class="pure-g">
            <div class="pure-u-1">
                <label for="name">{{localize 'name'}}*</label>
                <input id="name" required name="name" type="text" class="pure-input-1" value="{{name}}" placeholder="{{localize 'name'}}" />
            </div>
            <div class="pure-u-1">
                <button type="submit" class="pure-button pure-button-primary">{{localize 'save'}}</button>
            </div>
        </div>
    </fieldset>
</form>