<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link href="/stylesheets/pure.css" rel="stylesheet" />
    <link href="/stylesheets/pure-custom.css" rel="stylesheet" />
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/menu.css" />
    <script src="/javascripts/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/modernizr.custom.js"></script>
    <script src="/javascripts/wizard.js"></script>
    <script src="/javascripts/pure-menu.js"></script>
    <title>{{localize 'serpentes'}} - {{title}}</title>
</head>
<body class="pure-skin-custom">
    <ul id="gn-menu" class="gn-menu-main">
        <li class="gn-trigger">
            <a class="gn-icon gn-icon-menu"><span>{{localize 'menu'}}</span></a>
            <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                    <ul class="gn-menu">
                        {{#if search}}
                        <li class="gn-search-item">
                            <input class="gn-search" type="search" placeholder="{{localize 'search'}}">
                            <a class="gn-icon fa-search"><span>{{localize 'search'}}</span></a>
                        </li>
                        {{/if}}
                        <li>
                            <a class="gn-icon fa-ticket" href="/ticket">{{localize 'tickets'}}</a>
                            <ul class="gn-submenu">
                                <li><a href="/ticket/active" class="gn-icon fa-wrench">{{localize 'active tickets'}}</a></li>
                                <li><a href="/ticket/free" class="gn-icon fa-eye">{{localize 'free tickets'}}</a></li>
                                <li><a href="/ticket/unprioritized" class="gn-icon fa-certificate">{{localize 'unprioritized tickets'}}</a></li>
                                <li><a href="/ticket/archived" class="gn-icon fa-archive">{{localize 'archived tickets'}}</a></li>
                                <li><a class="gn-icon fa-plus" href="/ticket/add">{{localize 'add'}}</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="gn-icon fa-user" href="/worker">{{localize 'worker'}}</a>
                            <ul class="gn-submenu">
                                <li><a class="gn-icon fa-plus" href="/worker/add">{{localize 'add'}}</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="gn-icon fa-bullhorn" href="/department">{{localize 'departments'}}</a>
                            <ul class="gn-submenu">
                                <li><a class="gn-icon fa-plus" href="/department/add">{{localize 'add'}}</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="gn-icon fa-windows" href="/application">{{localize 'applications'}}</a>
                            <ul class="gn-submenu">
                                <li><a class="gn-icon fa-plus" href="/application/add">{{localize 'add'}}</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="gn-icon fa-suitcase" href="/client">{{localize 'clients'}}</a>
                            <ul class="gn-submenu">
                                <li><a class="gn-icon fa-plus" href="/client/add">{{localize 'add'}}</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="gn-icon fa-calendar" href="/release">{{localize 'releases'}}</a>
                            <ul class="gn-submenu">
                                <li><a class="gn-icon fa-plus" href="/release/add">{{localize 'add'}}</a></li>
                            </ul>
                        </li>
                        {{#isAdmin}}
                        <li>
                            <a class="gn-icon fa-cogs" href="/admin/settings/">{{localize 'settings'}}</a>
                            <ul class="gn-submenu">
                                <li><a class="gn-icon fa-eyedropper" href="/admin/settings/design">{{localize 'design'}}</a></li>
                                <li><a class="gn-icon fa-language" href="/admin/settings/language">{{localize 'languages'}}</a></li>
                            </ul>
                        </li>
                        {{/isAdmin}}
                        <li><a class="gn-icon fa-question">{{localize 'help'}}</a></li>
                    </ul>
                </div>
            </nav>
        </li>
        <li><a href="/"><i class="fa fa-home"></i> {{localize 'start'}}</a></li>
        <li><a href="/ticket"><span><i class="fa fa-ticket"></i> {{localize 'show tickets'}}</span></a></li>
        {{#isAdmin}}
        <li><a href="/admin/users"><span><i class="fa fa-users"></i> {{localize 'manage user'}}</span></a></li>
        {{/isAdmin}}
        <li><a href="/logout"><span><i class="fa fa-user"></i> Hallo {{currentusername}}</span></a></li>
    </ul>
    <div class="pure-container">
        {{> error}}
        {{{body}}}
    </div>
    <footer class="pure-footer">
        <p>{{localize 'made by Imanuel Ulbricht'}} :)</p>
    </footer>
    <script src="/javascripts/classie.js"></script>
    <script src="/javascripts/gnmenu.js"></script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>
</body>
</html>