<form action="/ticket/add" method="post" class="pure-form pure-form-aligned" id="wizard">
    <fieldset class="pure-wizard-page">
        <legend>{{localize 'general'}}</legend>
        <div class="pure-control-group">
            <label for="ticketnumber">{{localize 'ticketnumber'}}*</label>
            <input id="ticketnumber" placeholder="{{localize 'ticketnumber'}}" required name="ticketnumber" type="text" class="pure-u-20-24" value="{{ticketnumber}}" />
        </div>
        <div class="pure-control-group">
            <label for="priority">{{localize 'priority'}}</label>
            <input id="priority" placeholder="{{localize 'priority'}}" name="priority" type="number" class="pure-u-20-24" value="{{priority}}" />
        </div>
        <div class="pure-control-group">
            <label for="description">{{localize 'description'}}*</label>
            <textarea required id="description" placeholder="{{localize 'description'}}" name="description" cols="10" rows="10" class="pure-u-20-24">{{description}}</textarea>
        </div>
        <div class="pure-controls">
            <button type="button" class="pure-button pure-button-wizard-next">{{localize 'next'}}</button>
        </div>
    </fieldset>
    <fieldset class="pure-wizard-page">
        <legend>{{localize 'impact'}}</legend>
        <div class="pure-control-group">
            <label for="deadline">{{localize 'deadline'}}</label>
            <input name="deadline" id="deadline" placeholder="{{localize 'deadline'}}" type="date" class="pure-u-20-24" value="{{deadline}}" />
        </div>
        <div class="pure-controls">
            <label for="emergency" class="pure-checkbox">
                <input id="emergency" name="emergency" type="checkbox" {{bindAttr checked="emergency"}} /> {{localize 'emergency'}}
            </label>
            <label for="brandharming" class="pure-checkbox">
                <input id="brandharming" name="brandharming" type="checkbox" {{bindAttr checked="brandharming"}} /> {{localize 'brand harming'}}
            </label>
        </div>
        <div class="pure-control-group">
            <label for="minutesperweek">{{localize 'minutes per week'}}*</label>
            <input required id="minutesperweek" placeholder="{{localize 'minutes per week'}}" name="minutesperweek" type="number" class="pure-u-20-24" value="{{minutesperweek}}" />
        </div>
        <div class="pure-control-group">
            <label for="ordervolume">{{localize 'order volume in €'}}*</label>
            <input required id="ordervolume" placeholder="{{localize 'order volume in €'}}" name="ordervolume" type="number" class="pure-u-20-24" value="{{ordervolume}}" />
        </div>
        <div class="pure-control-group">
            <label for="impactdescription">{{localize 'impact description'}}</label>
            <textarea required id="impactdescription" placeholder="{{localize 'impact description'}}" name="impactdescription" cols="10" rows="10" class="pure-u-20-24">{{impactdescription}}</textarea>
        </div>
        <div class="pure-controls">
            <button type="button" class="pure-button pure-button-wizard-prev">{{localize 'back'}}</button>
            <button type="button" class="pure-button pure-button-wizard-next">{{localize 'next'}}</button>
        </div>
    </fieldset>
    <fieldset class="pure-wizard-page">
        <legend>{{localize 'more details'}}</legend>
        <div class="pure-control-group">
            <label for="applications">{{localize 'applications'}}</label>
            <select class="pure-u-20-24" multiple id="applications" name="applications">
                {{#each Applications}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="pure-control-group">
            <label for="departments">{{localize 'departments'}}</label>
            <select class="pure-u-20-24" multiple id="departments" name="departments">
                {{#each Departments}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="pure-control-group">
            <label for="clients">{{localize 'clients'}}</label>
            <select class="pure-u-20-24" multiple id="clients" name="clients">
                {{#each Clients}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="pure-control-group">
            <label for="release">{{localize 'releases'}}</label>
            <select class="pure-u-20-24" id="release" name="release">
                {{#each Releases}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="pure-controls">
            <button type="button" class="pure-button pure-button-wizard-prev">{{localize 'back'}}</button>
            <button type="submit" class="pure-button pure-button-primary pure-button-wizard-next-primary">{{localize 'save'}}</button>
        </div>
    </fieldset>
</form>
<script>
    $('#wizard').wizard()
</script>