{{#with details}}
<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        <li class="pure-menu-selected"><a href="#general" data-toggle="tabs">{{localize 'general'}}</a></li>
        <li><a href="#impact" data-toggle="tabs">{{localize 'impact'}}</a></li>
        <li><a href="#more" data-toggle="tabs">{{localize 'more details'}}</a></li>
        <li><a href="#comments" data-toggle="tabs">{{localize 'comments'}}</a></li>
        {{#if assigneehistory}}
        <li><a href="#assigneehistory" data-toggle="tabs">{{localize 'assignee history'}}</a></li>
        {{/if}}
        {{#unless archived}}
        <li><a href="#edit" data-toggle="tabs">{{localize 'edit ticket'}}</a></li>
        <li><a href="#actions" data-toggle="tabs">{{localize 'actions'}}</a></li>
        {{/unless}}
    </ul>
</div>
<div class="pure-form">
    <fieldset class="pure-menu-page pure-menu-selected" id="general">
        <legend>{{localize 'general'}}</legend>
        <h4>{{localize 'ticketnumber'}}</h4>
        <p>{{_id}}</p>
        {{#if priority}}
        <h4>{{localize 'priority'}}</h4>
        <p>{{priority}}</p>
        {{/if}}
        {{#if assignee}}
        <h4>{{localize 'assignee'}}</h4>
        <p>{{formatWorker assignee}}</p>
        {{/if}}
        <h4>{{localize 'description'}}</h4>
        <article>{{description}}</article>
        <h4>{{localize 'review state'}}</h4>
        {{#if reviewed}}
        <i class="fa fa-toggle-on fa-2x"></i>
        {{else}}
        <i class="fa fa-toggle-off fa-2x"></i>
        {{/if}}
        {{commentList reviewcomment}}
    </fieldset>
    <fieldset class="pure-menu-page" id="impact">
        <legend>{{localize 'impact'}}</legend>
        {{#if deadline}}
        <h4>{{localize 'deadline'}}</h4>
        <p>{{deadline}}</p>
        {{/if}}
        <h4>{{localize 'emergency'}}</h4>
        <p>
            {{#if emergency}}
            <i class="fa fa-toggle-on fa-2x"></i>
            {{else}}
            <i class="fa fa-toggle-off fa-2x"></i>
            {{/if}}
        </p>
        <h4>{{localize 'brand harming'}}</h4>
        <p>
            {{#if brandharming}}
            <i class="fa fa-toggle-on fa-2x"></i>
            {{else}}
            <i class="fa fa-toggle-off fa-2x"></i>
            {{/if}}
        </p>
        <h4>{{localize 'minutes per week'}}</h4>
        <p>{{minutesperweek}}</p>
        <h4>{{localize 'order volume in €'}}</h4>
        <p>{{ordervolume}}</p>
        <h4>{{localize 'impact description'}}</h4>
        <p>{{impactdescription}}</p>
    </fieldset>
    <fieldset class="pure-menu-page" id="more">
        <legend>{{localize 'more details'}}</legend>
        <div class="pure-g">
            {{#if applications}}
            <div class="pure-u-1">
                <h4>{{localize 'applications'}}</h4>
                {{#ul applications class="list-unstyled"}}
                {{name}}
                {{/ul}}
            </div>
            {{/if}}
            {{#if departments}}
            <div class="pure-u-1">
                <h4>{{localize 'departments'}}</h4>
                {{#ul departments class="list-unstyled"}}
                {{name}}
                {{/ul}}
            </div>
            {{/if}}
            {{#if clients}}
            <div class="pure-u-1">
                <h4>{{localize 'clients'}}</h4>
                {{#ul clients class="list-unstyled"}}
                {{name}}
                {{/ul}}
            </div>
            {{/if}}
            {{#if release}}
            <div class="pure-u-1">
                <h4>{{localize 'release'}}</h4>
                <dl>
                    <dt>{{localize 'name'}}</dt>
                    <dd>{{name}}</dd>
                    <dt>{{localize 'release date'}}</dt>
                    <dd>{{releasedate}}</dd>
                </dl>
            </div>
            {{/if}}
        </div>
    </fieldset>
    {{#if assigneehistory}}
    <fieldset id="assigneehistory" class="pure-menu-page">
        <legend>{{localize 'assignee history'}}</legend>
        {{#ul assigneehistory class="list-horizontal"}}
        <p>{{formatWorker .}} <i class="fa fa-arrow-right"></i></p>
        {{/ul}}
        <i class="fa fa-space-shuttle fa-3x fa-rotate-45"></i>
    </fieldset>
    {{/if}}
    <fieldset id="comments" class="pure-menu-page">
        <legend>{{localize 'comments'}}</legend>
        {{#if comments}}
        {{commentList comments}}
        {{/if}}
        <form action="/ticket/comments/{{_id}}" method="post" class="pure-form">
            <input required placeholder="{{localize 'comment'}}" name="commentvalue" class="pure-u-22-24" />
            <button class="pure-button pure-button-primary pure-u-1-24" type="submit"><i class="fa fa-comment"></i></button>
        </form>
    </fieldset>
    {{#unless archived}}
    <fieldset id="edit" class="pure-menu-page">
        <legend>{{localize 'edit ticket'}}</legend>
        <form action="/ticket/update/{{_id}}" method="post" class="pure-form pure-form-aligned" id="wizard">
            <div class="pure-wizard-page">
                <h3>{{localize 'general'}}</h3>
                <div class="pure-control-group">
                    <label for="priority">{{localize 'priority'}}</label>
                    <input id="priority" placeholder="{{localize 'priority'}}" name="priority" type="number" class="pure-u-20-24" value="{{priority}}" />
                </div>
                <div class="pure-control-group">
                    <label for="description">{{localize 'description'}}*</label>
                    <textarea required id="description" placeholder="{{localize 'description'}}" name="description" cols="10" rows="10" class="pure-u-20-24">{{description}}</textarea>
                </div>
                <div class="pure-controls">
                    <button type="button" class="pure-button pure-button-wizard-next">{{localize 'next'}} <i class="fa fa-angle-right"></i></button>
                </div>
            </div>
            <div class="pure-wizard-page">
                <h3>{{localize 'impact'}}</h3>
                <div class="pure-control-group">
                    <label for="deadline">{{localize 'deadline'}}</label>
                    <input name="deadline" id="deadline" placeholder="{{localize 'deadline'}}" type="date" class="pure-u-20-24" value="{{deadline}}" />
                </div>
                <div class="pure-controls">
                    <label for="emergency" class="pure-checkbox">
                        <input id="emergency" name="emergency" type="checkbox" {{bindAttr checked="emergency"}} /> {{localize 'emergency'}}
                    </label>
                    <label for="brandharming" class="pure-checkbox">
                        <input id="brandharming" name="brandharming" type="checkbox" {{bindAttr checked="brandharming"}} /> {{localize 'brand harming'}}
                    </label>
                </div>
                <div class="pure-control-group">
                    <label for="minutesperweek">{{localize 'minutes per week'}}*</label>
                    <input required id="minutesperweek" placeholder="{{localize 'minutes per week'}}" name="minutesperweek" type="number" class="pure-u-20-24" value="{{minutesperweek}}" />
                </div>
                <div class="pure-control-group">
                    <label for="ordervolume">{{localize 'order volume in €'}}*</label>
                    <input required id="ordervolume" placeholder="{{localize 'order volume in €'}}" name="ordervolume" type="number" class="pure-u-20-24" value="{{ordervolume}}" />
                </div>
                <div class="pure-control-group">
                    <label for="impactdescription">{{localize 'impact description'}}</label>
                    <textarea required id="impactdescription" placeholder="{{localize 'impact description'}}" name="impactdescription" cols="10" rows="10" class="pure-u-20-24">{{impactdescription}}</textarea>
                </div>
                <div class="pure-controls">
                    <button type="button" class="pure-button pure-button-wizard-prev"><i class="fa fa-angle-left"></i> {{localize 'back'}}</button>
                    <button type="button" class="pure-button pure-button-wizard-next">{{localize 'next'}} <i class="fa fa-angle-right"></i></button>
                </div>
            </div>
            <div class="pure-wizard-page">
                <h3>{{localize 'more details'}}</h3>
                <div class="pure-control-group">
                    <label for="applications">{{localize 'applications'}}</label>
                    <select class="pure-u-20-24" multiple id="applications" name="applications">
                        {{#each ../Applications}}
                        <option value="{{_id}}"
                                {{#inArrayId ../applications _id}}
                                selected
                                {{/inArrayId}}>
                            {{name}}
                        </option>
                        {{/each}}
                    </select>
                </div>
                <div class="pure-control-group">
                    <label for="departments">{{localize 'departments'}}</label>
                    <select class="pure-u-20-24" multiple id="departments" name="departments">
                        {{#each ../Departments}}
                        <option value="{{_id}}"
                                {{#inArrayId ../departments _id}}
                                selected
                                {{/inArrayId}}>
                            {{name}}
                        </option>
                        {{/each}}
                    </select>
                </div>
                <div class="pure-control-group">
                    <label for="clients">{{localize 'clients'}}</label>
                    <select class="pure-u-20-24" multiple id="clients" name="clients">
                        {{#each ../Clients}}
                        <option value="{{_id}}"
                                {{#inArrayId ../clients _id}}
                                selected
                                {{/inArrayId}}>
                            {{name}}
                        </option>
                        {{/each}}
                    </select>
                </div>
                <div class="pure-control-group">
                    <label for="release">{{localize 'releases'}}</label>
                    <select class="pure-u-20-24" id="release" name="release">
                        {{#each ../Releases}}
                        <option value="{{_id}}"
                                {{#compare _id '===' ../../release}}
                                selected
                                {{/compare}}>
                            {{name}}
                        </option>
                        {{/each}}
                    </select>
                </div>
                <div class="pure-controls">
                    <button type="button" class="pure-button pure-button-wizard-prev"><i class="fa fa-angle-left"></i> {{localize 'back'}}</button>
                    <button type="submit" class="pure-button pure-button-primary pure-button-wizard-next-primary"><i class="fa fa-save"></i> {{localize 'save'}}</button>
                </div>
            </div>
        </form>
    </fieldset>
    <fieldset id="actions" class="pure-menu-page">
        <legend>{{localize 'actions'}}</legend>
        {{#currentUserIsAssignee assignee}}
        <p>{{localize 'you can assign a ticket to yourself, so it is locked and you can work on it'}}</p>
        <form action="/ticket/assign/{{_id}}/{{loggedonuser}}" method="post" class="pure-form">
            <input required name="commentvalue" placeholder="{{localize 'comment'}}*" class="pure-u-20-24" />
            <button class="pure-button pure-button-primary pure-u-3-24" type="submit">
                <i class="fa fa-sign-in"></i> {{localize 'assign to me'}}
            </button>
        </form>
        {{/currentUserIsAssignee}}
        <p>{{localize 'you can give a ticket to another person, so they can see, that they should work on it'}}</p>
        <form action="/ticket/assign/{{_id}}" method="post" class="pure-form">
            <select name="username" class="pure-u-6-24">
                {{#each ../../Workers}}
                {{workerIsNotAssigneeOption . ../assignee}}
                {{/each}}
            </select>
            <input required name="commentvalue" placeholder="{{localize 'comment'}}*" class="pure-u-14-24" />
            <button class="pure-button pure-button-primary pure-u-3-24" type="submit">
                <i class="fa fa-sign-out"></i> {{localize 'assign'}}
            </button>
        </form>
        <p>{{localize 'you can set a ticket as reviewed, please write a comment, what you would change'}}</p>
        <form action="/ticket/reviewed/{{_id}}" method="post" class="pure-form">
            <input name="reviewcomment" id="reviewcomment" placeholder="{{localize 'comment'}}*" class="pure-u-20-24" required />
            <button class="pure-button pure-button-primary pure-u-3-24" type="submit">
                <i class="fa fa-thumbs-o-up"></i> {{localize 'reviewed'}}
            </button>
        </form>
        <p>{{localize 'you can move a ticket in the archive, that means it is closed and not longer in progress'}}</p>
        <form action="/ticket/archive/{{_id}}" method="post" class="pure-form">
            <input required name="commentvalue" placeholder="{{localize 'comment'}}*" class="pure-u-20-24" />
            <button class="pure-button pure-button-primary pure-u-3-24" type="submit">
                <i class="fa fa-archive"></i> {{localize 'archive'}}
            </button>
        </form>
    </fieldset>
    {{/unless}}
</div>
{{/with}}
<script>
    $('#wizard').wizard()
</script>