{{#with data}}
<div class="pure-form pure-menu-page pure-menu-selected">
    <fieldset>
        <legend>{{localize 'worker details'}}</legend>
        <h4>{{localize 'username'}}</h4>
        <p>{{_id}}</p>
        <h4>{{localize 'firstname'}}</h4>
        <p>{{firstname}}</p>
        <h4>{{localize 'lastname'}}</h4>
        <p>{{lastname}}</p>
        <h4>{{localize 'emailaddress'}}</h4>
        <p>{{emailaddress}}</p>
        <h4>{{localize 'phonenumber'}}</h4>
        <p>{{phonenumber}}</p>
        <h4>{{localize 'department'}}</h4>
        <p>{{localize department}}</p>
    </fieldset>
</div>
{{/with}}