<table class="pure-table pure-table-horizontal pure-table-striped pure-table-fullsize">
    <thead>
        <tr>
            <th>{{localize 'username'}}</th>
            <th>{{localize 'firstname'}}</th>
            <th>{{localize 'lastname'}}</th>
            <th>{{localize 'emailaddress'}}</th>
            <th>{{localize 'phonenumber'}}</th>
            <th>{{localize 'department'}}</th>
            <th>{{localize 'actions'}}</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td><a href="/worker/details/{{uriencode _id}}">{{_id}}</a></td>
            <td>{{firstname}}</td>
            <td>{{lastname}}</td>
            <td>{{emailaddress}}</td>
            <td>{{phonenumber}}</td>
            <td>{{localize department}}</td>
            <td><a href="/ticket/worker?id={{_id}}">{{localize 'tickets'}}</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>